<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAPIRegressionSuite">
	<groups>
		<run>
			<include name="P1" /><!-- groups are P0 and P1 -->
		</run>
	</groups>
	<test name="TestAPI">

		<classes>
			<class name="com.test.api.GetUsers" />
			<class name="com.test.api.CreateUser" />
			<class name="com.test.api.GetUserById" />
		</classes>
	</test>

</suite>
